.App {
  text-align: center;
}

.form-control:focus {
  box-shadow: none !important;
  outline: none;
}

.BTN {
  border: none;
  outline: none;
  margin-top:14px;
  position: absolute;
  top: 0;
  right:5px;
  background-color: transparent;
  color: #0b5ed7;
}

.input {
  border: none;
  border-radius: 5px;
  outline: none;
  width:270px;
  height: 50px;
  background-color: #f5f7fb;
}

.img {
  position: relative;
  width:270px;
  /* border: 1px solid red; */
}